

<section class="cta">
<div class="content">
    <h4>Contact us about your project.</h4>
    <a href="" class="btn btn-action" id="btn-cta">Contact Us</a>
    </div><!--/content-->

</section>

<section id="contact-success" class="hide">
    <div class="content">
            <div class="row">
                <div class="column full">
                    <p class="success"><i class="ss-icon ss-standard">&#x2713;</i> Awesome, we appreciate your interest in Theron Studios.</p>
                </div><!--/column full-->
            </div><!--/row-->
    </div><!--/content-->
</section>

<section class="contact hide">
<div class="container">
    <div class="content">
        <a href="" class="btn btn-light close">Close</a>
        <div class="clear"></div>
        <h2 class="title">Have an Idea?<br/>We would love to hear it.</h2>
        <div id="form" class="form-newproject">
            <div class="row">
                <iframe name='iframe_wmfuuetf' style='display:none' src='https://docs.google.com/a/statuschart.com/forms/d/1m3A1htvAkryPr2ayeF0IehqRJV1pQ_lS47lxpjeA8JU/formResponse'></iframe> 
                <form action="https://docs.google.com/a/statuschart.com/forms/d/1m3A1htvAkryPr2ayeF0IehqRJV1pQ_lS47lxpjeA8JU/formResponse" method="POST" id="ss-form" target="iframe_wmfuuetf" onsubmit="sent_wmfuuetf=true">
                    <ul>
                        <li class="column half">
                            <label class="ss-q-item-label" for="entry_616890712">Name</label>
                            <input type="text" name="entry.616890712" value="" class="ss-q-short" id="entry_616890712" dir="auto" required="" title="">
                        </li>
                        <li class="column half">
                            <label class="ss-q-item-label" for="entry_1658262296">Email</label>
                            <input type="email" name="entry.1658262296" value="" class="ss-q-short" id="entry_1658262296" dir="auto" required="" title="">
                        </li>
                        <li class="column half">
                            <label class="ss-q-item-label" for="entry_929723979">Budget</label>
                            <div class="select-styled">
                            <select name="entry.929723979" id="entry_929723979" required="">
                                <option value=""></option>
                                <option value="Under $25k">Under $25k</option>
                                <option value="$25k-$50k">$25k-$50k</option>
                                <option value="$50k-$100k">$50k-$100k</option>
                                <option value="$100k-$250k">$100k-$250k</option>
                                <option value="Over $250k">Over $250k</option>
                                <option value="Not Sure">Not Sure</option>
                            </select>
                          </div><!--/select-styled-->
                        </li>
                        <li class="column half">
                            <label class="ss-q-item-label" for="entry_25429435">Estimated Launch Date</label>
                            <input type="text" name="entry.25429435" value="" class="ss-q-short" id="entry_25429435" dir="auto" required="" title="">
                        </li>
                        <li class="column full">
                            <label class="ss-q-item-label" for="entry_667174050">Tell us about your project</label>
                            <textarea name="entry.667174050" rows="5" cols="0" class="ss-q-long" id="entry_667174050" dir="auto"></textarea>
                        </li>
                        <li class="column full">
                            <input name="submit" value="Send" id="ss-submit" type="submit" class="btn btn-action">
                            <p class="note">We'll do our best to respond within 24 hours.<br/>
                            Don't feel like filling out the form? That's fine, just email us at <a href="mailto:hello@theronstudios.com">hello@theronstudios.com</a>.</p>
                        </li>
                    </ul>
                </form>
            </div><!--/row-->
        </div><!--/form-->
    </div><!--/content-->
    </div><!--/container-->
</section>