<footer>
    <div class="container">
        <div class="content">
            <ul class="social">
              <!-- <li><a href="https://medium.com/@theronstudio">{% image medium.svg %}</a></li> -->
              <!-- <li><a href=""><i class="ss-icon ss-social-regular">&#xF610;</i></a></li> -->
              <li><a href="http://instagram.com/theronstudios"><i class="ss-icon ss-social-regular">&#xF641;</i></a></li>
              <li><a href="https://twitter.com/theronstudio"><i class="ss-icon ss-social-regular">&#xF611;</i></a></li>
            </ul>
            <p class="copy">&copy; 2014 Theron Studios. All rights reserved.</p>
        </div><!--/column-->
    </div><!--/container-->
</footer>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
{% javascript script %}
</body>
</html>
