<header class="clearfix">
  <div class="container">
   <a href="/" class="logo">{% image logo.svg %}</a>
   <a href="" class="menu"><i class="ss-icon ss-standard">&#x2026;</i></a>
   <nav>
     <ul>
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'current' %}
          {% endif %}
          <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
   </nav>
 </div><!--/container-->
</header>
