<header class="clearfix">
<div class="container">
  <div class="content">
    <div class="row">
      <div class="column full">


   <a href="/" class="logo">{% image logo4.svg %}</a>
   <a href="" class="menu"><i class="ss-icon ss-standard">&#x2026;</i></a>
   <nav>
     <ul>
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'current' %}
          {% endif %}
          <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
   </nav>




</div><!--/column-->
</div><!--/row-->
</div><!--/content-->
</div><!--/container-->
</header>
