/* ========================================================= Fontface ===*/
@font-face {
    font-family: 'ProximaNova';
    src: url(asset_path('proximanova/proximanova-regular-webfont.eot'));
    src: url(asset_path('proximanova/proximanova-regular-webfont.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('proximanova/proximanova-regular-webfont.woff')) format('woff'),
         url(asset_path('proximanova/proximanova-regular-webfont.ttf')) format('truetype'),
         url(asset_path('proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url(asset_path('proximanova/proximanova-light-webfont.eot'));
    src: url(asset_path('proximanova/proximanova-light-webfont.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('proximanova/proximanova-light-webfont.woff')) format('woff'),
         url(asset_path('proximanova/proximanova-light-webfont.ttf')) format('truetype'),
         url(asset_path('proximanova/proximanova-light-webfont.svg#proxima_nova_ltregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url(asset_path('proximanova/proximanova-bold-webfont.eot'));
    src: url(asset_path('proximanova/proximanova-bold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('proximanova/proximanova-bold-webfont.woff')) format('woff'),
         url(asset_path('proximanova/proximanova-bold-webfont.ttf')) format('truetype'),
         url(asset_path('proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold')) format('svg');
    font-weight: normal;
    font-style: normal;
}