/* ========================================================= Forms ===*/
form{

}
form ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
form li{
    display: inline-block;
    margin: 0 0 10px;
    padding: 0;
}
form p{

}
form label{

}
form input[type=text], form input[type=email]{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 12px 10px 8px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 100%;
}
form textarea{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 100%;
}
.select-styled{
  background: url(asset_path('contact/select-down-arrow.png')) no-repeat right #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  max-height: 39px;
  float: left;
  overflow: hidden;
  width: 100%;
}
.select-styled select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background: transparent;
  border: none;
  border-radius: 3px;
  cursor:pointer;
  display: inline-block;
  font-style: normal;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  // max-height: 40px;
  height: 40px;
  margin: 0;
  outline: none;
  padding: 6px 5px;
  width: 107%;
}
.select-styled select:focus{
  outline: 0;
}
.select-styled  option {
  font-size: 100%;
  font-weight: 400;
  padding: 5px;
}

form input[type=submit]{
    margin: 20px 0 0;
}
/* ---------------
-- Placeholders --
--------------- */
::-webkit-input-placeholder {
   color: #555;
}
:-moz-placeholder {
   color: #555;
}
::-moz-placeholder {
   color: #555;
}
:-ms-input-placeholder {
   color: #555;
}
/* ----------
-- Buttons --
---------- */
.btn{
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 3px;
    color: rgba(0,0,0,0.5);
    display: inline-block;
    font-size: 0.707em;
    font-family: 'Effra Medium', sans-serif;
    margin: 10px 0;
    padding: 14px 26px 12px;
    text-transform: uppercase;
    -webkit-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    -moz-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    -ms-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    -o-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    &:hover{
        border: 1px solid #000;
        color: #000;
    }
}
.btn-light{
    border: 1px solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
    &:hover{
        background-color: #fff;
        border: 1px solid #fff;
        color: #333;
    }
}
.btn-ghost{
    border: 1px solid rgba(0,0,0,0.4);
    color: rgba(0,0,0,0.6);
    &:hover{
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.7);
        color: rgba(0,0,0,0.9);
    }
}
.btn-action{
    background-color: #f03e37;
    border-radius: 4px;
    border:none;
    color: #fff;
    display: inline-block;
    font-family: 'ProximaNovaBold', sans-serif;
    margin: 10px 0;
    padding: 14px 26px 12px;
    text-transform: uppercase;
    &:hover{
        background-color: #d63731;
        border:none;
        color: #fff
    }
}
