/* ========================================================= Typography ===*/
h1, h2, h3, h4 {
  color: #333B47;
  font-family: 'Effra Medium', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: normal;
  line-height: 1.2;
}
h1{
  font-size: 2.441em;
  margin-top: 0;
}
h2{
  font-family: 'Effra Light', sans-serif;
  border-bottom: 2px solid #CACBCD;
  font-size: 1.563em;
  margin: 0 0 0.4em;
  margin: 0 0 1em;
  text-transform: uppercase;
  word-spacing: 8px;
  a{
    color: #333B47;
  }
  span{
    border-bottom: 2px solid #777B81;
    padding-right: 5px;
  }
}
h3{
  display: block;
  font-size: 1.953em;
  font-size: 1.563em;

  margin: 35px 0 15px;
}
h4{
  font-size: 1.25em;
  margin: 5px 0;
}
p{
  color: #656565;
  margin-bottom: 1.3em;
}
strong{
  color: #333;
  font-family: 'Effra Medium', sans-serif;
  font-weight: 400;
}
small, .font_small{
  font-size: 0.8em;;
}
ul{
  margin: 0 0 20px;
}
li{
  color: #656565;
  font-family: 'Effra Regular', sans-serif;
  line-height: 1.5;
}
dl{
  color: #656565;
  font-family: 'Effra Regular', sans-serif;
  line-height: 1.5;
  margin: 0 0 10px;
}
dt{
  font-weight: bold;
}
dd{
  color: #A9A9A9;
  margin: 0 0 10px 10px;
}
