/* ========================================================= Utility ===*/
hr {
    background: none repeat scroll 0 0 #D9DBDE;
    border: medium none;
    box-shadow: 0 0 0 rgba(0,0,0,0.0);
    clear: both;
    height: 1px;
    margin: 1em 0;
    width: 100%;
}
mark{
    background-color: #fdffb6;
    box-shadow: #fdffb6 0 0 5px;
    padding: 2px;
}
.fluid-width-video-wrapper{
    margin: 0 0 18px;
}
.note{
    font-size: 1em;
    color: #aaa;
}
.last{
    margin: 0;
}
.center img{
  display: block;
  margin: 0 auto;
}
.right{
    float: right;
}
#error-404{

}
figure{
    margin: 0 0 20px;
    img{
      height: auto;
      margin: 0 0 4px;
      max-width: 100%;
    }
    h4{
      font-style: normal;
    }
    figcaption{
      color: #777;
      font-size: 14px;
      font-style: italic;
    }
    &.center{
      img{
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      figcaption{
        text-align: center;
      }
    }
}
/* ========================================================= Blockquote ===*/
blockquote {
  margin: 3em 0 2.5em;
  text-align: center;
}
blockquote p {
  font-family: Georgia, serif;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 31px;
  -moz-hyphens: none !important;
  text-align: center !important;
}
blockquote small {
  display: block;
  color: #A9A9A9;
  font-size: 20px;
}
/* ========================================================= Error pages ===*/
#error-404 img{
    width: 100%;
}
/* ========================================================= Animation ===*/
/*#loader {
    background: url('http://placehold.it/50x50') 50% 50% no-repeat rgb(0,0,0);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}*/
