/* ========================================================= Variables ===*/

/* ---------
-- Colors --
--------- */
$superhero: #f2412f;
$conan: #f0f0f0;
$oil: #252429;
$grey: #e8eaeb;
$grey-lt: #CACBCD;
$grey-dk: #777B81;

/* -------------
-- Typography --
------------- */
