{% include header.html %}
{% include nav.html %}

<div class="wrapper">
<section>
  <div class="container">
  <div class="row">
  <div class="column full">
  </article>
    <p class="byline">
				{% assign d = page.date | date: "%d" | plus:'0' %}
				{{ page.date | date: "%B" }}
				{% case d %}
					{% when 1 or 21 or 31 %}{{ d }}st
					{% when 2 or 22 %}{{ d }}nd
					{% when 3 or 23 %}{{ d }}rd
					{% else %}{{ d }}th
					{% endcase %},
				{{ page.date | date: "%Y" }}
			</p>
    <h2>{{ page.title }}</h2>
    {{ content }}
  </article>
</div><!--col-->
  </div><!--/row-->
  </div><!--/container-->
</section>
</div><!--/wrapper-->

{% include footer.html %}
