{% include header.html %}
{% include nav.html %}

<div class="wrapper">
  <div class="column three-fourth">
<section>
  <div class="content">
  <div class="row">
  <div class="column full">
<ul id="article-list">

  {% for post in site.posts %}
  <li>
    <div class="row">
      <div class="column full">
        <p class="byline">{{ post.date | date: "%B %d, %Y" }}</p>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
      </div><!--/col-->
    </div><!--/row-->
  </li>
  {% endfor %}

</ul>
</div><!--col-->

  </div><!--/row-->
</div><!--/content-->
</section>
</div><!--col-->

{% include sidebar.html %}

</div><!--/wrapper-->

{% include footer.html %}
